[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
keras = "*"
scikit-learn = "*"
tensorflow = "*"
matplotlib = "*"
pydot = "*"
graphviz = "*"
tensorrt = "*"
xlrd = "*"
nbconvert = "*"
import-ipynb = "*"
nvidia-cudnn-cu11 = "==8.6.0.163"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
